body{
    margin-top:  50px;

}
h1{
    text-align: center;
    font-family: fantasy;

}
table{
    margin: 0 auto;
    width: 95%;
}

table, td, th{
    border: 3px solid black;
    border-collapse: collapse;
    font-family: fantasy;    
    font-size: 20px;
    padding: 5px;
    
}
.block2{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 300px;
    align-items: center;
    margin-top: 20px;
    
}
.block{
    
    display: flex;
    justify-content: end;
    margin-right: 3%;
    margin-top: 20px;
}
input{
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 15px;
}
.bt{
    margin-left: 10px;
}
button{
    border-radius: 5px;
    background-color: black;
    color: white;
}